# Q1:

Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

In [46]:
fav_pizza=['chicken Fajita','chicken Tikka','pepperoni pizza']

In [47]:
for a in fav_pizza:
    print(a)

chicken Fajita
chicken Tikka
pepperoni pizza

# Q2

Start with your last question , Modify your for loop to print a sentence using the name of the pizza
instead of printing just the name of the pizza. For each pizza you should
have one line of output containing a simple statement like I like pepperoni
pizza.

In [48]:
fav_pizza=['chicken Fajita','chicken Tikka','pepperoni pizza']

In [49]:
for a in fav_pizza:
    print('I like ',a)

I like  chicken Fajita
I like  chicken Tikka
I like  pepperoni pizza

# Q3:

Use a for loop to print the numbers from 1 to 20,
inclusive.

In [50]:
for a in range (1,20+1):
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Q4:

Use the third argument of the range() function to make a list
of the odd numbers from 1 to 20. Use a for loop to print each number.

In [51]:
for a in range (1,20,2):
    print(a)

1
3
5
7
9
11
13
15
17
19

# Q5:

Make a list of the multiples of 3 from 3 to 30. Use a for loop to
print the numbers in your list.

In [52]:
alist=[3,6,9,12,15,18,21,24,27,30]

In [8]:
for mul in alist:
    print(mul)

3
6
9
12
15
18
21
24
27
30

# Q6:

A number raised to the third power is called a cube. For example,
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that
is, the cube of each integer from 1 through 10), and use a for loop to print out
the value of each cube

In [53]:
cubes=[1**3,2**3,3**3,4**3,5**3,6**3,7**3,8**3,9**3,10**3]

In [54]:
for a in cubes:
    print(a)

1
8
27
64
125
216
343
512
729
1000

# Q7:

###### Make a python program that conatains your nine favourite dishes in a list called foods.

###### Print the message, The first three items in the list are:. 
###### Then use a slice to print the first three items from that program’s list.

###### Print the message, Three items from the middle of the list are:
###### Use a slice to print three items from the middle of the list.

###### Print the message, The last three items in the list are:
###### Use a slice to print the last three items in the list.

In [55]:
foods=['biryani','qorma','pulao','nihari','chicken karahi','mutton karahi','white karahi','chicken tikka','pizza']

In [56]:
print('The first items in the list are:',foods[0:3])

The first items in the list are: ['biryani', 'qorma', 'pulao']

In [13]:
print('The middle 3 items in the list are:',foods[3:6])

The middle 3 items in the list are: ['nihari', 'chicken karahi', 'mutton karahi']

In [57]:
print('The last 3 items in the list are:',foods[6:9])

The last 3 items in the list are: ['white karahi', 'chicken tikka', 'pizza']

# Q8:

### Start with your program from your last Question8.
###### Make a copy of the list of foods, and call it friend_foods.
###### Then, do the following:
######    Add a new dish to the original list.
######    Add a different dish to the list friend_foodss.
######    Prove that you have two separate lists. 
###### Print the message, My favorite pizzas are: and then use a for loop to print the first list. 
###### Print the message,
###### My friend’s favorite foods are:, and then use a for loop to print the second list.
    
##### NOTE: Make sure each new dish is stored in the appropriate list.

In [58]:
foods=['biryani','qorma','pulao','nihari','chicken karahi','mutton karahi','white karahi','chicken tikka','pizza']
friend_foods=foods.copy()

In [59]:
print(friend_foods)

['biryani', 'qorma', 'pulao', 'nihari', 'chicken karahi', 'mutton karahi', 'white karahi', 'chicken tikka', 'pizza']

In [60]:
foods.append('dum pukh')

In [61]:
print(foods)

['biryani', 'qorma', 'pulao', 'nihari', 'chicken karahi', 'mutton karahi', 'white karahi', 'chicken tikka', 'pizza', 'dum pukh']

In [62]:
friend_foods.append('Makni karahi')
print(foods)
print(friend_foods)

['biryani', 'qorma', 'pulao', 'nihari', 'chicken karahi', 'mutton karahi', 'white karahi', 'chicken tikka', 'pizza', 'dum pukh']
['biryani', 'qorma', 'pulao', 'nihari', 'chicken karahi', 'mutton karahi', 'white karahi', 'chicken tikka', 'pizza', 'Makni karahi']

In [63]:
for a in foods:
    print('My Favourite Foods are',a)

My Favourite Foods are biryani
My Favourite Foods are qorma
My Favourite Foods are pulao
My Favourite Foods are nihari
My Favourite Foods are chicken karahi
My Favourite Foods are mutton karahi
My Favourite Foods are white karahi
My Favourite Foods are chicken tikka
My Favourite Foods are pizza
My Favourite Foods are dum pukh

In [21]:
for b in friend_foods:
    print('My Friends Favourite Foods are',b)

My Friends Favourite Foods are biryani
My Friends Favourite Foods are qorma
My Friends Favourite Foods are pulao
My Friends Favourite Foods are nihari
My Friends Favourite Foods are chicken karahi
My Friends Favourite Foods are mutton karahi
My Friends Favourite Foods are white karahi
My Friends Favourite Foods are chicken tikka
My Friends Favourite Foods are pizza
My Friends Favourite Foods are Makni karahi

# Q9:

Take a user input from console line.Store it in a variable called Alien_color.

If the alien’s color is red, print a statement that the player just earned 5 points for shooting the alien.

If the alien’s color isn’t green, print a statement that the player just earned 10 points.

If the alien's color isn't red or green , print a statment :, Alien is no more.....

In [64]:
Alien_color=input('Enter a color:').lower()

Enter a color:blue

In [65]:
if Alien_color =='red':
    print('The player earned 5 points for shooting the alien')
elif Alien_color=='green':
    print('The player earned 10 points for shooting the alien')
elif Alien_color!='red' and Alien_color!='green':
    print('Alien is no more')

Alien is no more

# Q10:

Write an if-elif-else chain that determines a person’s
stage of life. Set a value for the variable age, and then:
    
•	 If the person is less than 2 years old, print a message that the person is a baby.

•	 If the person is at least 2 years old but less than 4, print a message that the person is a toddler.

•	 If the person is at least 4 years old but less than 13, print a message that the person is a kid.

•	 If the person is at least 13 years old but less than 20, print a message that the person is a teenager.

•	 If the person is at least 20 years old but less than 65, print a message that the person is an adult.

•	 If the person is age 65 or older, print a message that the person is an elder.

In [66]:
age=int(input('Enter the Persons Age:'))

Enter the Persons Age:32

In [67]:
if age <2:
    print('the person is a baby')
elif (age==2 or age<4):
     print('the person is a toddler')
elif (age==4 or age<13):
     print('the person is a kid')
elif (age==13 or age<20):
     print('the person is a Teenager')
elif (age==20 or age<65):
     print('the person is an adult')        
elif age==65 or age>65: 
     print('the person is an elder')

the person is an adult

# Q11:

Do the following to create a program that simulates how websites ensure that everyone has a unique username.

•	 Make a list of five or more usernames called current_users.

•	 Make another list of five usernames called new_users. 
Make sure one or two of the new usernames are also in the current_users list.

•	 Loop through the new_users list to see if each new username has already been used. 
If it has, print a message that the person will need to enter a new username. 
If a username has not been used, print a message saying that the username is available.

•	 Make sure your comparison is case insensitive. If 'John' has been used, 'JOHN' should not be accepted.

In [68]:
current_users=['ismail6879','hamza7879','saad6162','kashan6768''umama7074']

In [69]:
new_users=['hafiz5658','aliza6098','hamza7879','ismail6879','hasan6975']

In [70]:
current_users_lower=[user.lower() for user in current_users]

In [71]:
for new_user in new_users:
    if new_user.lower()in current_users_lower:
        print("sorry "+ new_user +",username has already been used.")
else:print("congratulations, "+ new_user + " is available yet")

sorry hamza7879,username has already been used.
sorry ismail6879,username has already been used.
congratulations, hasan6975 is available yet

# Q12:

Use a dictionary to store information about a person you know.
Store their first name, last name, age, and the city in which they live. 
You should have keys such as first_name, last_name, age, and city. 
Print each piece of information stored in your dictionary

In [72]:
abc123={'f_name':'Ismail','last_name':'Bin Asad','age':22,'city':'Karachi'}

In [73]:
print(abc123['f_name'])
print(abc123['last_name'])
print(abc123['age'])
print(abc123['city'])

Ismail
Bin Asad
22
Karachi

# Q13:

Starts with your last question 12 , loop through the dictionary’s keys and values.
When you’re sure that your loop works, add five more Python terms to your
dictionary . When you run your program again, these new words and meanings
should automatically be included in the output.

In [74]:
abc123={"f_name":"Ismail","last_name":"Bin Asad","age":22,"city":"Karachi"}

In [75]:
for a in abc123.items():
    print(a)

('f_name', 'Ismail')
('last_name', 'Bin Asad')
('age', 22)
('city', 'Karachi')

In [36]:
abc123["father name"]="Muhammad Asad"
abc123["CNIC"]="42101-8346567-0"
abc123["status"]="single"
abc123["work"]="finance manager"
abc123["current city"]="karachi"

In [37]:
for keys,values in abc123.items():
    print(f"{keys}: {values}")

f_name: Ismail
last_name: Bin Asad
age: 22
city: Karachi
father name: Muhammad Asad
CNIC: 42101-8346567-0
status: single
work: finance manager
current city: karachi

# Q14:

Make a dictionary containing three major rivers and the country
each river runs through. One key-value pair might be 'nile': 'egypt'.
    
    
•	 Use a loop to print a sentence about each river, such as The Nile runs
through Egypt.

NOTE: use upper case through keys and values.

In [76]:
rivers = {"River indus" : "pakistan" ,"Nile" : "Egypt" , "amstel" : "netherland"}
for key,value in rivers.items():
    print(f"the {key.upper()} runs through {value.upper()}")

the RIVER INDUS runs through PAKISTAN
the NILE runs through EGYPT
the AMSTEL runs through NETHERLAND

# Q15:

Make several dictionaries, where the name of each dictionary is the
name of a pet. In each dictionary, include the kind of animal and the owner’s
name. Store these dictionaries in a list called pets. Next, loop through your list
and as you do print everything you know about each pet.

In [77]:
pet=[]
kitty={"pet_animal": "cat","owner_name" : "kashan"}
pet.append(kitty)
pluto={"pet_animal" : "dog" , "owner_name" : "Batool"}
pet.append(pluto)
bruno={"pet_animal" : "goat" , "owner_name" : "Mahnoor"}
pet.append(bruno)
dino={"pet_animal" : "cow" , "owner_name" : 'Ismail'}
pet.append(dino)
lucci={"pet_animal" : "kitten" , "owner_name" : "Hamza"}
pet.append(lucci)
for animals in pet:
    for key,value in animals.items():
        print(f"\n{key}:{value}")

pet_animal:cat

owner_name:kashan

pet_animal:dog

owner_name:Batool

pet_animal:goat

owner_name:Mahnoor

pet_animal:cow

owner_name:Ismail

pet_animal:kitten

owner_name:Hamza